name: CoderCo Manual Workflow

on:
    push:
    workflow_dispatch:
        inputs:
            python-version:
                description: 'Choose python version'
                required: true
                default: '3.8'
                type: choice
                options:
                - 3.8
                - 3.9

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8", "3.9"] # loop over these versions of code 

    steps:
      - name: Checkout code
        uses: actions/checkout@v2 # will check out the code to see any errors

      - name: Set up Python
        uses: actions/setup-python@v2 
        with: # which python version it will use 
          python-version: ${{ matrix.python-version }} # set up python in virtual machine

      - name: Run tests
        run: cd chapter4
            python -m unittest discover -v
        if: success()

      - name: Notify success # condition so it will only run if its successful
        run: echo "Tests passed on Python ${{ matrix.python-version }}"
        if: success() 