name: CoderCo Custom Action CI

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Hello world custom action
        uses: ./coderco-custom
        with:
          who-to-greet: "CoderCo team"
